.mt-5
  %div.row
    %div.col-md-4
      %div.d-flex.align-items-start.border.p-2.rounded
        %i.bi.bi-person-circle.display-4.me-3
        %div
          %h3.mb-0= @user.name
          %span.text-muted= @user.biography
          = link_to "#", class: "link-primary d-flex align-items-center" do
            %span.bi.bi-link-45deg.me-2.text-secondary{ aria: { label: "Link icon" } }
            blog_url
          .mt-2
            = link_to "プロフィールの編集", "#",class: "btn btn-dark btn-sm"

    %div.col-md-8
      %div.d-flex.flex-wrap
        %ul.list-group.w-100
          - @posts.each do |post|
            %li.list-group-item
              %span= post.content
              %time.mb-1.small{ datetime: post.created_at.to_fs(:iso8601) }= l(post.created_at, format: :long)


      .mt-2
        = pagy_bootstrap_nav(@pagy).html_safe